<nav class="navbar navbar-expand-lg bg-light shadow-sm mb-3">
    <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="../../../../assets/logo.png" alt="MovShark" class="me-2" style="width: 50px; height: auto;" />
        <span class="fs-3 fw-bold text-danger">MovShark</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link text-dark"><i class="fa fa-home me-1"></i> Inicio</a>
        </li>
        <li class="nav-item">
            <a routerLink="/genres" routerLinkActive="active" class="nav-link text-dark"><i class="fa fa-film me-1"></i> Géneros</a>
        </li>
        <li class="nav-item">
            <a routerLink="/favorites" routerLinkActive="active" class="nav-link text-dark"><i class="fa fa-star me-1"></i> Favoritos</a>
        </li>
        <li class="nav-item">
            <a routerLink="/series" routerLinkActive="active" class="nav-link text-dark"><i class="fa fa-tv me-1"></i> Series</a>
        </li>
        <li class="nav-item">
            <a routerLink="/movies" routerLinkActive="active" class="nav-link text-dark"><i class="fa fa-video me-1"></i> Películas</a>
        </li>
        <li class="nav-item">
            <a routerLink="/settings" routerLinkActive="active" class="nav-link text-dark"><i class="fa fa-user text-danger fs-4"></i>  Bienvenido, {{ currentUser.Nombre }} {{ currentUser.Apellido }}</a>
        </li>
        </ul>
    </div>
    </div>
</nav>



